body {
  padding: 0;
  margin: 0;
}

.Appbox {
  background-color: #0038ca;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  min-height: 91.1vh;
  flex-wrap: wrap;
}

.Appbox .row {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.Appbox .img1 {
  width: 500px;
  background-color: none;
  min-height: 60vh;
  margin: 20px;
  display: flex;
  align-items: flex-start;
  padding: 0 30px;

  justify-content: center;
  flex-direction: column;
}

.Appbox .cta {
  padding: 15px 20px;
  background-color: #232324;
  color: white;
  font-weight: bold;
  border: none;
  margin: 30px 0;
}

.Appbox .img2 {
  width: 500px;
  background-image: url(https://svgur.com/i/QSC.svg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  align-items: center;
  margin: 20px;
  padding: 0 30px;

  justify-content: center;
  flex-direction: row;
}
