body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .header {
    width: 100%;
    background-color: white;
    color: black;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    padding: 0;

  }
  
  .logo .text {
    font-size: 20px;
    display: flex;
    align-items: center;
    color:black;
    padding: 0;
    justify-content: center;
  }

.icon {
  color:#0038ca;
  font-size: 30px;
}

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .nav li {
    list-style-type: none;
    padding: 0 20px;
    font-weight: bold;
    color:black;
    
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
  
  .text1 {
    font-size: 20px;
    display: none;
  }
  @media (max-width: 600px) {
    .header {
      display: flex;
      flex-direction: column;
      min-height: 70px;
    }
    .logo {
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
    .nav {
      display: none;
      flex-direction: column;
      min-height: 100px;
    }
  
    .nav li {
      padding: 20px;
    }
    .text1 {
      display: flex;
    }
  }
  